.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
@font-face {font-family: "iconfont";
  src: url('../../src/common/fonts/iconfont.eot?t=1488176668526'); /* IE9*/
  src: url('../../src/common/fonts/iconfont.eot?t=1488176668526#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../src/common/fonts/iconfont.woff?t=1488176668526') format('woff'), /* chrome, firefox */
  url('../../src/common/fonts/iconfont.ttf?t=1488176668526') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../src/common/fonts/iconfont.svg?t=1488176668526#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*//左箭头*/
.icon-arrow_lift:before { content: "\e601"; }
/*十字*/
.icon-add_circle:before { content: "\e602"; }
/*对号*/
.icon-check_circle:before { content: "\e603"; }
/*心*/
.icon-favorite:before { content: "\e604"; }
/*右箭头*/
.icon-keyboard_arrow_right:before { content: "\e605"; }
/*关闭*/
.icon-close:before { content: "\e606"; }
/*横线*/
.icon-remove_circle_outline:before { content: "\e607"; }
/*购物*/
.icon-shopping_cart:before { content: "\e608"; }
/*鄙视*/
.icon-thumb_down:before { content: "\e609"; }
/*赞*/
.icon-thumb_up:before { content: "\e60a"; }

